<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="icon" href="">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-rtl.css">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/hover-min.css">
	<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/buttons.css">
	<link rel="stylesheet" href="css/styel.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- for explorer-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- first moblie meta for resposive-->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
            <![endif]-->
</head>

<body>
	<!--                      Start top-section                      -->
	<div class="top-section">
		<div class="container-fluid">

			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs ">
				<div class="social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-youtube-play"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs logo">
				<a href="index.html">
				<img src="css/pic/logo.png" alt="#" title="#" class="img-responsive">
			</a>
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs input-content">
			<a href="asktranslate.html" class="button button--isi button--border-thick button--round-l button--size-s inline-block">	طلب ترجمه</a>
				<div class="contain-box inline-block">
					<div class="input-topsection right-border cloud inline-block">
						<i class="fa fa-cloud "></i>
						<ul class="weather-part ">
							<li><i class="fa fa-cloud"></i> 5°C </li>
							<li><i class="fa fa-cloud"></i> الاربع : 7°C </li>
							<li><i class="fa fa-cloud"></i> التلاثاء : 8°C </li>
							<li><i class="fa fa-cloud"></i> الجمعه : 9°C </li>
						</ul>
					</div>
					<div class="input-topsection fasearch inline-block ">
						<i class="fa fa-search toggle-class"></i>
						<div class="search-box">
							<form>
								<input type="search" placeholder="عن ماذا تبحث ؟">
								<i class="fa fa-search abso"></i>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--                      end top-section                     -->
	<!--                      end top-section                     -->
	<nav class="navbar navbar-default">
		<div class="container-fluid	">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<img src="css/pic/logo.png" alt="#" title="#" class="img-responsive hidden-lg hidden-md hidden-sm nav-logo ">

				<!--				<a class="navbar-brand" href="#">الماركه</a>-->
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav menu">
					<li><a href="index.html">الرئيسيه </a></li>
					<li><a href="aboutus.html">من نحن <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="normal.html">
								<li>الرؤيه</li>
							</a>
							<a href="normal.html">
								<li>الهدف</li>
							</a>
							<a href="normal.html">
								<li>الجوده</li>
							</a>
							<a href="normal.html">
								<li>الدقه</li>
							</a>
							<a href="normal.html">
								<li>القائد </li>
							</a>
						</ul>
					</li>
					<li><a href="normal.html">الخدمات <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="">
								<li>اللغات <i class="fa fa-angle-left"></i>
									<ul class="sub-menu2">
										<a href="normal.html">
											<li>ترجمه الانجليزى</li>
										</a>
										<a href="normal.html">
											<li>لغات حيه <i class="fa fa-angle-left"></i>
												<ul class="sub-menu3">
													<a href="normal.html">
														<li>اللغه الروسى</li>
													</a>
													<a href="normal.html">
														<li>اللغه التركيه</li>
													</a>
													<a href="normal.html">
														<li>اللغه الفرنسيه</li>
													</a>
													<a href="normal.html">
														<li>اللغه الالمانيه</li>
													</a>

												</ul>
											</li>
										</a>
										<a href="normal.html">
											<li>لغات اخرى <i class="fa fa-angle-left"></i>
												<ul class="sub-menu3">
													<a href="normal.html">
														<li>اللغه الصينيه</li>
													</a>
													<a href="normal.html">
														<li>اللغه البروتغاليه</li>
													</a>
													<a href="normal.html">
														<li>اللغه الاسبانيه</li>
													</a>
													<a href="normal.html">
														<li>اللغه السويديه</li>
													</a>
													<a href="normal.html">
														<li>اللغه الاوكرانيه</li>
													</a>
													<a href="normal.html">
														<li>اللغه البلغاريه</li>
													</a>
													<a href="normal.html">
														<li>اللغه العبريه</li>
													</a>
													<a href="normal.html">
														<li>اللغه الايطاليه</li>
													</a>
												</ul>

											</li>
										</a>
									</ul>
								</li>
							</a>
							<a href="asktranslate.html">
								<li>الترجمه <i class="fa fa-angle-left"></i>
									<ul class="sub-menu2">
										<a href="asktranslate.html">
											<li>الترجمه القانونيه</li>
										</a>
										<a href="asktranslate.html">
											<li>الترجمه العامه</li>
										</a>
										<a href="asktranslate.html">
											<li>الترجمه الطبيه</li>
										</a>
										<a href="asktranslate.html">
											<li>الترفيه والسياحه والضيافه</li>
										</a>
										<a href="asktranslate.html">
											<li>الترجمه العسكريه</li>
										</a>
										<a href="asktranslate.html">
											<li>الترجمه الادبيه</li>
										</a>
										<a href="asktranslate.html">
											<li>الترجمه الدينيه</li>
										</a>
									</ul>
								</li>
							</a>
							<a href="asktranslate.html">
								<li> الترجمه الفوريه <i class="fa fa-angle-left"></i>
									<ul class="sub-menu2">
										<a href="asktranslate.html">
											<li>الترجمه الفوريه</li>
										</a>
										<a href="asktranslate.html">
											<li>الترجمه التتبعيه</li>
										</a>
										<a href="asktranslate.html">
											<li>الترجمه الهمسيه</li>
										</a>
										<a href="asktranslate.html">
											<li>معدات الترجمه الفوريه</li>
										</a>
										<a href="normal.html">
											<li>اعمالنا</li>
										</a>
									</ul>
								</li>
							</a>

						</ul>
					</li>
					<li><a href="news.html">الاخبار</a></li>
					<li><a href="cv.html">السير الذاتيه </a></li>
					<li><a href="normal.html">الاقسام <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="normal.html">
								<li>النشر المكتبى</li>
							</a>
							<a href="normal.html">
								<li>التدقيق اللغوى والتحريرى</li>
							</a>
							<a href="normal.html">
								<li>تفريغ صوتيات</li>
							</a>
							<a href="normal.html">
								<li>ترجمه وتعريب محتوى الويب</li>
							</a>
						</ul>
					</li>
					<li><a href="normal.html">انتداب اللغوين والمترجمين </a></li>
					<li><a href="translationwork.html">انضم الى فريقنا <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="traning.html">
								<li>التدريب الميدانى للطلاب والطالبات</li>
							</a>
							<a href="translationwork.html">
								<li>مترجمون</li>
							</a>
							<a href="nowtranslataion.html">
								<li>مترجمون فوريون</li>
							</a>
							<a href="freelancer.html">
								<li>انضم لفريق العمل الحر لدينا</li>
							</a>
						</ul>
					</li>
					<li><a href="traning.html">التدريب</a>
						<ul class="sub-menu">
							<a href="courses.html">
								<li>الدورات</li>
							</a>
							<a href="normal.html">
								<li>مبادراه تراجم</li>
							</a>
							<a href="normal.html">
								<li>الخريجين</li>
							</a>
						</ul>
					</li>
					<li class="active"><a href="contactusar.html">تواصل معنا</a></li>
					<li><a href="index.html"><img src='css/pic/ar.png' alt="#" title="#"></a></li>
					<li><a href="indexen.html"><img src='css/pic/en.png' alt="#" title="#"></a></li>


				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!--                end menu                            -->
	<div class="section-name">
		<h4>اتصل بنا</h4>
	</div>
	<!--                start bkimg-section                            -->
	<div class="bkimg">
	</div>
	<!--                end bkimg-section                            -->
	<!--                start form-section                            -->
	<div class="form-section">
		<div class="container-fluid">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
				<form action="#" method="#" class="form-quote">
					<h2>
						اتصل بنا
					</h2>

					<input type="text" placeholder="الاسم" class="email">
					<input type="email" placeholder="الايميل" class="email">
					<input type="text" placeholder="الموضوع" class="email">
					<textarea class="text-form" placeholder="الرساله"></textarea>
					<button class="button button--isi button--border-thick button--round-l button--size-s inline-block">	اطلب طلب</button>
				</form>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 content-form-section">
				<h2>مواعيد العمل :</h2>
				<table class="table table-hover">
					<tbody>
						<tr>
							<td>ألسبت</td>
							<td>11 AM&nbsp;– 5 PM
							</td>
						</tr>
						<tr>
							<td>Sunday
							</td>
							<td>8 AM – 10 PM</td>
						</tr>
						<tr>
							<td>Monday
							</td>
							<td>8 AM – 10 PM</td>
						</tr>
						<tr>
							<td>Tuesday
							</td>
							<td>8 AM – 10 PM</td>
						</tr>
						<tr>
							<td>Wednesday
							</td>
							<td>8 AM – 10 PM</td>
						</tr>
						<tr>
							<td>Thursday
							</td>
							<td>8 AM – 10 PM</td>
						</tr>
						<tr>
							<td>Friday
							</td>
							<td>Closed
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!--                end form-section                            -->
	<!--                start map-section                            -->
	<div class="map" id="popup_with_map">
		<div class="container">
			<div class="map-section">
<!--				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">-->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
					<h2>مكاتبنا</h2>
					<p>Saleh Al Omar Certified Translation</p>

					<p>Address: 8530 King Fahd Rd, Al Olaya, Riyadh 12333 3802, Saudi Arabia.</p>

					<p>Telephone: 920004395</p>

					<p>Email: info@sact.co</p>
					<br>
<!--				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">-->
					<iframe style="width:100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.4712138105724!2d46.66982371450782!3d24.710697984124774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f02d36928e553%3A0x4175594f6204509c!2s8530+King+Fahd+Rd%2C+Al+Olaya%2C+Riyadh+12333%C2%A03802%2C+Saudi+Arabia!5e0!3m2!1sen!2seg!4v1476613017907" width="100%" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
<!--				</div>-->
				</div>
			</div>
		</div>
	</div>
	<!--                end map-section                            -->
	<!--                start subscribe-section                            -->
	<div class="subscribe-section">
		<div class="container-fluid">
			<div class="subscribe-content">
				<div class="col-lg-6 col-md-9 col-sm-12 col-xs-12 ">
					<form class="sub-form">
						<input type="email" placeholder="ادخل بريدك الاليكتروني">
						<button class="button button--isi button--border-thick button--round-l button--size-s inline-block">	تسجيل</button>

					</form>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs ">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 social-sub ">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!--                end subscribe-section                            -->
	<!--                start footer-section                            -->
	<div class="footer">
		<div class="container-fluid">
			<div class="footer-content">
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
					<a href="index.html">
						<img src="css/pic/logo.png" alt="#" class="img-responsive logo-footer">
					</a>
					<p>أبجد هوز الجزر، والحسومات تعزيز وتعطي حيوية لآخر </p>
					<img src="css/pic/bbb.png" alt="#" class="logos-comp">
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
					<h2>الخدمات</h2>
					<ul>
						<li><a href="#">ترجمة الأعمال والترجمة القانونية</a></li>
						<li><a href="#">الترجمة الفنية</a></li>
						<li><a href="#">مستندات شخصية</a></li>
						<li><a href="#">	أبوستيل وإضفاء الصبغة القانونية</a></li>
						<li><a href="#">تعليم تطبيقي</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
					<h2>خدمه العملاء</h2>
					<ul>
						<li><a href="#">اتصل بنا</a></li>
						<li><a href="#">عنا</a></li>
						<li><a href="#">الاخبار والموضوعات</a></li>
						<li><a href="#">	المشروعات</a></li>
						<li><a href="#">البورتفيليو</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 paddingb-30">
					<h2>اتصل بنا لخدمتك <br> 222-3333-333
					</h2>
					<a href="mailto:support@themerex.net"><big><i class="fa fa-envelope"></i></big> راسلنا على الايميل </a>

					<h2>123, العنوان العنوان العنوان العنوان , نيوزلندا
						<br>606080
					</h2>
					<a href="#popup_with_map"><big><i class="fa fa-map-marker"></i></big> احصل على الاتجاهات </a>


				</div>
			</div>
		</div>
	</div>
	<!--                end footer-section                            -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/plugins.js"></script>


</body>

</html>
