<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="icon" href="">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/hover-min.css">
	<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/buttons.css">
	<link rel="stylesheet" href="css/styelen.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- for explorer-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- first moblie meta for resposive-->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
            <![endif]-->
</head>

<body>
	<!--                      Start top-section                      -->
	<div class="top-section">
		<div class="container-fluid">

			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs ">
				<div class="social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-youtube-play"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs logo">
				<a href="indexen.html">
				<img src="css/pic/logo.png" alt="#" title="#" class="img-responsive">
			</a>
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs input-content">
				<a href="asktranslateen.html" class="button button--isi button--border-thick button--round-l button--size-s inline-block">	
					make order</a>
				<div class="contain-box inline-block">
					<div class="input-topsection left-border cloud inline-block">
						<i class="fa fa-cloud "></i>
						<ul class="weather-part ">
							<li><i class="fa fa-cloud"></i> 5°C </li>
							<li><i class="fa fa-cloud"></i> wed : 7°C </li>
							<li><i class="fa fa-cloud"></i> thur : 8°C </li>
							<li><i class="fa fa-cloud"></i> fri : 9°C </li>
						</ul>
					</div>
					<div class="input-topsection fasearch inline-block ">
						<i class="fa fa-search toggle-class"></i>
						<div class="search-box">
							<form>
								<input type="search" placeholder="searc about ?">
								<i class="fa fa-search abso"></i>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--                      end top-section                     -->
	<!--                start menu                            -->
	<nav class="navbar navbar-default">
		<div class="container-fluid	">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<img src="css/pic/logo.png" alt="#" title="#" class="img-responsive hidden-lg hidden-md hidden-sm nav-logo ">

				<!--				<a class="navbar-brand" href="#">الماركه</a>-->
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav menu">
					<li class="active"><a href="indexen.html">home </a></li>
					<li><a href="aboutusen.html">about us <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="normalen.html">
								<li>vision</li>
							</a>
							<a href="normalen.html">
								<li>mission</li>
							</a>
							<a href="normalen.html">
								<li>Work Environment</li>
							</a>
							<a href="normalen.html">
								<li>Quality</li>
							</a>
							<a href="normalen.html">
								<li>Managing Director</li>
							</a>
						</ul>
					</li>
					<li><a href="normalen.html">Services <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="normalen.html">
								<li>Language <i class="fa fa-angle-right"></i>
									<ul class="sub-menu2">
										<a href="asktranslate.html">
											<li>English Translation</li>
										</a>
										<a href="normalen.html">
											<li>Major Languages <i class="fa fa-angle-right"></i>
												<ul class="sub-menu3">
													<a href="normalen.html">
														<li>Russian Translation</li>
													</a>
													<a href="normalen.html">
														<li>Turkish Translation</li>
													</a>
													<a href="normalen.html">
														<li>French Translation</li>
													</a>
													<a href="normalen.html">
														<li>German Translation</li>
													</a>

												</ul>
											</li>
										</a>
										<a href="normalen.html">
											<li>Other Languages <i class="fa fa-angle-right"></i>
												<ul class="sub-menu3">
													<a href="normalen.html">
														<li>Chinese Translation</li>
													</a>
													<a href="normalen.html">
														<li>Portuguese Translation</li>
													</a>
													<a href="normalen.html">
														<li>Spanish Translation</li>
													</a>
													<a href="normalen.html">
														<li>Swedish Translation</li>
													</a>
													<a href="normalen.html">
														<li>Ukrainian Translation</li>
													</a>
													<a href="normalen.html">
														<li>Bulgarian Translation</li>
													</a>
													<a href="normalen.html">
														<li>Hebrew Translation</li>
													</a>
													<a href="normalen.html">
														<li>Italian Translation</li>
													</a>
												</ul>

											</li>
										</a>
									</ul>
								</li>
							</a>
							<a href="asktranslateen.html">
								<li>Translation <i class="fa fa-angle-right"></i>
									<ul class="sub-menu2">
										<a href="normalen.html">
											<li>Legal</li>
										</a>
										<a href="normalen.html">
											<li>Medical</li>
										</a>
										<a href="normalen.html">
											<li>General</li>
										</a>
										<a href="normalen.html">
											<li>Tourism &amp; Hospitality</li>
										</a>
										<a href="normalen.html">
											<li>Economic and Financial Translation</li>
										</a>
										<a href="normalen.html">
											<li>Military</li>
										</a>
										<a href="normalen.html">
											<li>literary</li>
										</a>
										<a href="normalen.html">
											<li>Religious</li>
										</a>
									</ul>
								</li>
							</a>
							<a href="normalen.html">
								<li> Interpretation <i class="fa fa-angle-right"></i>
									<ul class="sub-menu2">
										<a href="normalen.html">
											<li>Simultaneous Interpretation</li>
										</a>
										<a href="normalen.html">
											<li>Consecutive Interpretation</li>
										</a>
										<a href="normalen.html">
											<li>Whispered Interpretation</li>
										</a>
										<a href="normalen.html">
											<li>Events and Conference Equipment Supply</li>
										</a>
										<a href="normalen.html">
											<li>Our Works</li>
										</a>
									</ul>
								</li>
							</a>

						</ul>
					</li>
					<li><a href="newsen.html">news</a></li>
					<li><a href="cven.html">cv</a></li>
					<li><a href="normalen.html">Sectors <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="normalen.html">
								<li>Desktop Publishing</li>
							</a>
							<a href="normalen.html">
								<li>Proofreading</li>
							</a>
							<a href="normalen.html">
								<li>Transcription</li>
							</a>
							<a href="normalen.html">
								<li>Localization</li>
							</a>
						</ul>
					</li>
					<li><a href="normalen.html">Linguists Outsourcing </a></li>
					<li><a href="traning.html">Join Our Team <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="traning.html">
								<li>Interpreters</li>
							</a>
							<a href="nowtranslataionen.html">
								<li>Translators</li>
							</a>
							<a href="freelanceren.html">
								<li>Join Our Pool of Freelancers</li>
							</a>
						</ul>
					</li>
					<li><a href="traningen.html">Training</a>
						<ul class="sub-menu">
							<a href="translationworken.html">
								<li>Training</li>
							</a>
							<a href="nowtranslataionen.html">
								<li>Traajim</li>
							</a>
							<a href="nowtranslataionen.html">
								<li>Alumni</li>
							</a>
						</ul>
					</li>
					<li><a href="contactusen.html">Contact Us</a></li>
					<li><a href="index.html"><img src='css/pic/ar.png' alt="#" title="#"></a></li>
					<li><a href="indexen.html"><img src='css/pic/en.png' alt="#" title="#"></a></li>


				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!--                end menu                            -->
	<!--                start carosel                            -->
	<div class="owl-carousel owl-theme owl-first">
		<div class="item">
			<a href="#">
				<img src="css/pic/slider1.jpg" alt="#" title="#">
			</a>
			<div class="box-content-owl">
				<p>in <a href="#" class="red">Enjoy</a></p>
				<a href="#">
					<h2>
						Flow into the Sky and find your Inner Peace
					</h2>
				</a>
				<div class="">
					<p>
						by :
						<a href="#">Paul Smith </a> /
						<a href="#">oct 30, 2015 </a></p>

				</div>
			</div>
		</div>
		<div class="item">
			<a href="#">
				<img src="css/pic/slider2.jpg" alt="#" title="#">
			</a>
			<div class="box-content-owl">
				<p>in <a href="#" class="red">enjoy</a></p>
				<a href="#">
					<h2>
						Flow into the Sky and find your Inner Peace
					</h2>
				</a>
				<div class="">
					<p>
						by :
						<a href="#">Paul Smith </a> /
						<a href="#">oct 30, 2015 </a></p>

				</div>
			</div>
		</div>
		<div class="item">
			<a href="#">
				<img src="css/pic/slider3.jpg" alt="#" title="#">
			</a>

			<div class="box-content-owl">
				<p>in <a href="#" class="red">enjoy</a></p>
				<a href="#">
					<h2>Flow into the Sky and find your Inner Peace
					</h2>
				</a>
				<div class="">
					<p>
						by :
						<a href="#">Paul Smith </a> /
						<a href="#">oct 30, 2015 </a></p>

				</div>
			</div>
		</div>
	</div>
	<!--                end carosel                            -->
	<!--                start carosel-2                            -->
	<div class="carosel-2">
		<div class="container-fluid">
			<div class="owl-carousel owl-theme owl-two">
				<div class="item">
					<img src="css/pic/1.png" alt="#" title="#">
				</div>
				<div class="item">
					<img src="css/pic/2.png" alt="#" title="#">
				</div>
				<div class="item">
					<img src="css/pic/3.png" alt="#" title="#">
				</div>
				<div class="item">
					<img src="css/pic/4.png" alt="#" title="#">
				</div>
				<div class="item">
					<img src="css/pic/5.png" alt="#" title="#">
				</div>
				<div class="item">
					<img src="css/pic/1.png" alt="#" title="#">
				</div>
				<div class="item">
					<img src="css/pic/2.png" alt="#" title="#">
				</div>
				<div class="item">
					<img src="css/pic/3.png" alt="#" title="#">
				</div>
				<div class="item">
					<img src="css/pic/4.png" alt="#" title="#">
				</div>
				<div class="item">
					<img src="css/pic/5.png" alt="#" title="#">
				</div>

			</div>
		</div>
	</div>
	<!--                end carosel-2                            -->
	<!--                start Order-Professional                            -->
	<div class="Order-Professional">
		<div class="container-fluid">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
				<h4 class="inline-block">WE WORK FOR YOU </h4>
				<div class="small-line inline-block"></div>
				<div class="order-content">
					<h1>Order Professional Translations<br> in Just a Few Clicks </h1>
					<p>
						Many commercial services exist that will interpret spoken language via telephone. There is also at least one custom-built mobile device that does the same thing. The device connects users to human interpreters who can translate</p>
					<button class="button button--isi button--border-thick button--round-l button--size-s inline-block">discover more</button>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
				<img src="css/pic/img_promo2.png" alt="#" class="img-responsive">
			</div>
		</div>
	</div>
	<!--                end Order-Professional                            -->
	<!--                start our-offers                            -->
	<div class="our-offers">
		<div class="container-fluid">
			<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center">
				<a href="#" class="offers-img">
					<img src="css/pic/FAVORITE.png" alt='#' class="img-responsive block">
					<h4>Personal Documents</h4>
				</a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center">
				<a href="#" class="offers-img">
					<img src="css/pic/folders.png" alt='#' class="img-responsive block">
					<h4>Business and Legal Translation
					</h4>
				</a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center">
				<a href="#" class="offers-img">
					<img src="css/pic/BUSINESS.png" alt='#' class="img-responsive block">
					<h4>Technical Translation
					</h4>
				</a>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 text-center">
				<a href="#" class="offers-img">
					<img src="css/pic/global.png" alt='#' class="img-responsive block">
					<h4>Apostille and Legalization
					</h4>
				</a>
			</div>
			<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-section-offers">
				<h2>We offer a wide range of services<br> and provide complete client satisfaction</h2>
				<p>With the Internet, translation software can help non-native-speaking individuals understand web pages published in other languages. Whole-page-translation tools are of limited utility, however, since they offer only a limited potential understanding of the original author's intent and context; translated pages tend to be more humorous and confusing than enlightening</p>
				<button class="button button--moema button--inverted button--text-thick button--size-s">MORE ABOUT SERVICES</button>

			</div>


		</div>
	</div>
	<!--                end our-offers                            -->
	<!--                start bkimg-section                            -->
	<div class="bkimg">
	</div>
	<!--                end bkimg-section                            -->
	<!--                start form-section                            -->
	<div class="form-section">
		<div class="container-fluid">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
				<form action="#" method="#" class="form-quote">
					<h2>Get a Quote
					</h2>

					<input type="text" placeholder="name" class="name">
					<input type="tel" placeholder="phone" class="mobile">
					<input type="email" placeholder="email" class="email">
					<select class="select1">
						<option>english</option>
						<option>spain</option>
					</select>
					<p class="inline-block">to</p>
					<select class="select1">
						<option>spain</option>
						<option>english</option>
					</select>
					<label for="file-input" class="file-input"><p>choose file</p>
						<input type="file" class="hidden" id='file-input'>
					</label>
					<textarea class="text-form" placeholder="الرساله"></textarea>
					<button class="button button--isi button--border-thick button--round-l button--size-s inline-block">	submit order</button>
				</form>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 content-form-section">
				<h4 class="inline-block">WHY CHOOSE US </h4>
				<div class="small-line inline-block"></div>
				<div class="order-content">
					<h1>
						We Offer Certified<br> Translation
					</h1>
					<p>As a language evolves, texts in an earlier version of the language—original texts, or old translations—may become difficult for modern readers to understand. Such a text may be translated</p>
					<div class="box-content-form inline-block">
						<img src="css/pic/CALCULATOR.png" alt="#" class="inline-block img-responsive">
						<a href='#'>
							<h4>Competitive Prices</h4>
						</a>
					</div>
					<div class="box-content-form inline-block">
						<img src="css/pic/SAND-CLOCK.png" alt="#" class="inline-block img-responsive">
						<a href='#'>
							<h4>Famously Fast</h4>
						</a>
					</div>
					<div class="box-content-form inline-block">
						<img src="css/pic/FAX.png" alt="#" class="inline-block img-responsive">
						<a href='#'>
							<h4>Famously Fast</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--                end form-section                            -->
	<div class="clear"></div>
	<div class="container">
		<div class="counter text-center">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 " id="counter">
				<div class="counter-box">
					
    				<h2 class="counter-value inline-block" data-count="140">0 <h2 class="inline-block">+</h2></h2>
					<h4>language</h4>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
				<div class="counter-box">
    				<h2 class="counter-value inline-block" data-count="16500">0</h2>
					<h4>our translataion</h4>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
				<div class="counter-box">
    				<h2 class="counter-value inline-block" data-count="99">0 <h2 class="inline-block">%</h2></h2>
					<h4>positive posts</h4>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
				<div class="counter-box">
    				<h2 class="counter-value inline-block" data-count="3000">0 <h2 class="inline-block">+</h2></h2>
					<h4>global clients</h4>
				</div>
			</div>

		</div>
	</div>
	<div class="clear"></div>
	<!--                start howitwork-section                            -->
	<div class="howitwork text-center">
		<div class="container">
			<h2>How It Works</h2>
			<h4>Translators always risk inappropriate spill-over of source-<br>language idiom and usage into the target-language translation.</h4>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 nopadding ">
				<div class="flip-container">
					<div class="flipper">
						<div class="front">
							<div class="top-num">
								01
							</div>
							<img src="css/pic/order.png" alt="#" class="">
							<h4>orders</h4>
						</div>
						<div class="back">
							<div class="top-num">
								01
							</div>
							<h4>translate</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 nopadding">
				<div class="flip-container">
					<div class="flipper">
						<div class="front color-2">
							<div class="top-num">
								02
							</div>
							<img src="css/pic/translate.png" alt="#" class="">
							<h4>الترجمه</h4>
						</div>
						<div class="back">
							<div class="top-num">
								02
							</div>
							<h4>translate</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 nopadding">
				<div class="flip-container">
					<div class="flipper">
						<div class="front">
							<div class="top-num">
								03
							</div>
							<img src="css/pic/check.png" alt="#" class="">
							<h4>تفقد</h4>
						</div>
						<div class="back">
							<div class="top-num">
								03
							</div>
							<h4>check</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 nopadding">
				<div class="flip-container">
					<div class="flipper">
						<div class="front color-2">
							<div class="top-num">
								04
							</div>
							<img src="css/pic/driver.png" alt="#" class="">
							<h4>التوصيل</h4>
						</div>
						<div class="back">
							<div class="top-num">
								04
							</div>
							<h4>orders</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed </p>
						</div>
					</div>
				</div>
			</div>
			<a href="asktranslateen.html" class="button button--isi button--border-thick button--round-l button--size-s inline-block"> start tranlataion now</a>
		</div>
	</div>
	<!--                end howitwork-section                            -->
	<!--                start Highly-Creative-section                            -->
	<div class="Order-Professional">
		<div class="container-fluid">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
				<h4 class="inline-block">QUALITY YOU CONTROL</h4>
				<div class="small-line inline-block"></div>
				<div class="order-content">
					<h1>Highly Creative<br> Translation
					</h1>
					<p>Interpreting, or "interpretation," is the facilitation of oral or sign-language communication, either simultaneously or consecutively, between two, or among three or more, speakers who are not speaking, or signing, the same language. The term is used for this activity to avoid confusion</p>
					<a href="asktranslateen.html" class="button button--isi button--border-thick button--round-l button--size-s inline-block">discover more</a>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
				<img src="css/pic/img_promo3.jpg" alt="#" class="img-responsive">
			</div>
		</div>
	</div>
	<!--                end Highly-Creative-section                            -->
	<!--                Start Courses-section                            -->
	<div class="Courses-section">
		<div class="container-fluid text-center">
			<h2>Language Courses</h2>
			<p>With the help of our professional teachers and translators<br> you will be able to sharpen your skills in no time at all</p>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
				<div class="box-courses">
					<img src="css/pic/post-1.jpg" class="img-responsive top-img">
					<div class="lang-badge">
						ENG
					</div>
					<div class="text-content-courses">
						<h4>Advanced English</h4>
						<p class="date"><i class='fa fa-clock'></i> december 18, 2018</p>
						<p>Join our group cpurse for advanced level speakers and develop new skills.</p>
						<div class="line-courses"></div>
						<h2 class="red-color">125 $ <span class="per">/ week</span></h2>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
				<div class="box-courses">
					<img src="css/pic/post-8.jpg" class="img-responsive top-img">
					<div class="lang-badge">
						span
					</div>
					<div class="text-content-courses">
						<h4>French Focus</h4>
						<p class="date"><i class='fa fa-clock'></i>december 18, 2018</p>
						<p>Our great teachers will make you fall in love with this beautiful language.</p>
						<div class="line-courses"></div>
						<h2 class="red-color">free </h2>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
				<div class="box-courses">
					<img src="css/pic/post.jpg" class="img-responsive top-img">
					<div class="lang-badge">
						dut
					</div>
					<div class="text-content-courses">
						<h4>Business English</h4>
						<p class="date"><i class='fa fa-clock'></i> december 18, 2018</p>
						<p>This course is one of the most popular and needed in the world of English.</p>
						<div class="line-courses"></div>
						<h2 class="red-color">600 $ <span class="per">/ الاسبوع</span></h2>
					</div>
				</div>
			</div>
			<button class="button button--isi button--border-thick button--round-l button--size-s inline-block">show all courses</button>
		</div>
	</div>
	<!--                end Courses-section                            -->
	<!--                start comments-section                            -->
	<div class="comments-section">
		<div class="container-fluid">
			<div class="col-lg-6 col-md-6 hidden-sm hidden-xs  "></div>
			<div class="col-lg-1 col-md-1 hidden-sm hidden-xs "></div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12  ">
				<p>
					<div class="owl-carousel owl-theme owl-three">
						<div class="item">
							<div class="items_content">
								<p>Professional and creative, your team has made my life so much easier! You can totally rely on them with translations.</p>
								<h4 class="red bold">Jim Norton</h4>
								<p>manager</p>
							</div>
						</div>
						<div class="item">
							<div class="items_content">
								<p>Professional and creative, your team has made my life so much easier! You can totally rely on them with translations.</p>
								<h4 class="red bold">Jim Norton</h4>
								<p>manager</p>
							</div>
						</div>
						<div class="item">
							<div class="items_content">
								<p>Professional and creative, your team has made my life so much easier! You can totally rely on them with translations.</p>
								<h4 class="red bold">Jim Norton</h4>
								<p>manager</p>
							</div>
						</div>

					</div>
			</div>
		</div>
	</div>
	<!--                end comments-section                            -->
	<!--                start langlevel-section                            -->
	<div class="langlevel-section">
		<div class="container-fluid">
			<div class="langlevel-content">
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
					<p class="inline-block">LANGUAGES </p>
					<div class="small-line inline-block"></div>
					<div class="order-content">
						<h1> Overcome the Language Barrier with<br> Multilingual Translation Services
						</h1>
						<button class="button button--isi button--border-thick button--round-l button--size-s inline-block">more info</button>
					</div>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
					<p class="bold">english</p>
					<div class="progress">
						<div class="progress-bar" id="prog-1" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:0%">
						</div>
					</div>
					<p class="bold">germany</p>
					<div class="progress">
						<div class="progress-bar" id="prog-2" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:0%">
						</div>
					</div>
					<p class="bold">frensh</p>
					<div class="progress">
						<div class="progress-bar" id="prog-3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:0%">
						</div>
					</div>
					<p class="bold">spain</p>
					<div class="progress">
						<div class="progress-bar" id="prog-4" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:0%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--                end langlevel-section                            -->
	<!--                start map-section                            -->
	<div class="map" id="popup_with_map">
		<div class="container">
			<div class="map-section">
				<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
					<h2>FAQ </h2>
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<h4 class="panel-title">
										<div class="arrows-map">
											<i class="fa fa-chevron-right"></i>
										</div>

										Do you certify for legal purposes? </h4>
								</a>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body">Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum emo enim ipsam voluptatem quia volatur ut odit aut.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<h4 class="panel-title">
										<div class="arrows-map">
											<i class="fa fa-chevron-right"></i>
										</div>
										How do you choose your translators?
									</h4>
								</a>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body">Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum emo enim ipsam voluptatem quia volatur ut odit aut.

								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<h4 class="panel-title">
										<div class="arrows-map">
											<i class="fa fa-chevron-right"></i>
										</div>
										What is the format of delivered translations?
									</h4>
								</a>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body">Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum emo enim ipsam voluptatem quia volatur ut odit aut.
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
					<h2>our offices</h2>
					<div class="map-bck">
						<div class="show1">
							<div class="point1"><i class="fa fa-map-marker fa-2x"></i></div>
							<div class="content-point1">
								<h4>نيوزلندا</h4>
								<p>21 123, Ipsum Street, Amsterdam 1012 JW, <br> +1 800 123-4567 <br>info@yoursite.com</p>
							</div>
						</div>
						<div class="show2">
							<div class="point2"><i class="fa fa-map-marker fa-2x"></i></div>
							<div class="content-point2">
								<h4>نيوزلندا</h4>
								<p>
									123, Ipsum Street, Amsterdam 1012 JW, <br> +1 800 123-4567 <br>info@yoursite.com</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--                end map-section                            -->
	<!--                start order2-section                            -->
	<div class="order2">
		<div class="overlay-order2">
			<div class="container-fluid">
				<div class="order2-contain">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="content-order2 text-center">
							<img src="css/pic/GLOBAL-CONTACT_.png" alt="#" class="img-responsive">
							<h2>Ready to Get Started?</h2>
							<p>Our professional translators are <br>native speakers who have work experience in this industry</p>
							<a href="asktranslateen.html" class="button button--isi button--border-thick button--round-l button--size-s inline-block">ask translataion</a>

						</div>
						<div class="col-lg-8 col-md-8 hidde-sm hidde-xs"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--                end order2-section                            -->
	<!--                start blognew-section                            -->
	<div class="blognew">
		<div class="container-fluid">
			<div class="blognew-content">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
					<p class="inline-block">FROM THE BLOG </p>
					<div class="small-line inline-block"></div>
					<h1>Featured Posts
					</h1>
					<div class="blog-big-box">
						<div class="img-box">
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<a href="shownewsen.html" class="tag">
							<h4>5 Ways to Help English Language Learners</h4>
						</a>
						<a href="shownewsen.html" class="tag small">books</a> ,
						<a href="shownewsen.html" class="tag small">storys</a>
						<p class="inline-block date2"><i class="fa fa-clock"></i> march ,10 ,2017 </p>
						<p>
							Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
						<button class="button button--isi button--border-thick button--round-l button--size-s inline-block">	see more </button>

					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
					<div class="top-menu-blog">
						<ul>
							<li><a href="shownewsen.html" class="blog-links">all news</a></li>
							<li><a href="shownewsen.html" class="blog-links">books</a></li>
							<li><a href="shownewsen.html" class="blog-links">storys</a></li>
							<li><a href="shownewsen.html" class="blog-links">more</a></li>
						</ul>
					</div>
					<div class="small-news-blog margin-top-150">
						<div class="img-small-box">
							<img src="css/pic/blog2.jpg" alt="#" class="img-responsive left">
							<a href="shownewsen.html">
								<div class="overlay-2">
									<i class="fa fa-play"></i>
								</div>
							</a>
						</div>
						<div class="content-small-blog left">
							<a href="shownewsen.html" class="tag">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<a href="shownewsen.html" class="tag small">books</a> ,
							<a href="shownewsen.html" class="tag small">story</a>
							<p class="inline-block date2"><i class="fa fa-clock"></i> march ,10 ,2017 </p>

						</div>
					</div>
					<div class="small-news-blog">
						<div class="img-small-box">
							<img src="css/pic/blog3.jpg" alt="#" class="img-responsive left">
							<a href="shownewsen.html">
								<div class="overlay-2 text-center">
									<i class="fa fa-ellipsis-h"></i>
								</div>
							</a>
						</div>
						<div class="content-small-blog left">
							<a href="shownewsen.html" class="tag">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<a href="shownewsen.html" class="tag small">books</a> ,
							<a href="shownewsen.html" class="tag small">story</a>
							<p class="inline-block date2"><i class="fa fa-clock"></i> march ,10 ,2017 </p>
						</div>
					</div>
					<div class="small-news-blog">
						<div class="img-small-box">
							<img src="css/pic/blog4.jpg" alt="#" class="img-responsive left">
							<a href="shownewsen.html">
								<div class="overlay-2 text-center">
									<i class="fa fa-ellipsis-h"></i>
								</div>
							</a>
						</div>
						<div class="content-small-blog left">
							<a href="shownewsen.html" class="tag">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<a href="shownewsen.html" class="tag small">books</a> ,
							<a href="shownewsen.html" class="tag small">storys</a>
							<p class="inline-block date2"><i class="fa fa-clock"></i> march ,10 ,2017 </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--                end blognew-section                            -->
	<!--                start subscribe-section                            -->
	<div class="subscribe-section">
		<div class="container-fluid">
			<div class="subscribe-content">
				<div class="col-lg-6 col-md-9 col-sm-12 col-xs-12 ">
					<form class="sub-form">
						<input type="email" placeholder="email">
						<button class="button button--isi button--border-thick button--round-l button--size-s inline-block">	registration</button>

					</form>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs ">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 social-sub ">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!--                end subscribe-section                            -->
	<!--                start footer-section                            -->
	<div class="footer">
		<div class="container-fluid">
			<div class="footer-content">
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
					<a href="indexen.html">
						<img src="css/pic/logo.png" alt="#" class="img-responsive logo-footer">
					</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
					<img src="css/pic/bbb.png" alt="#" class="logos-comp">
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
					<h2>Services</h2>
					<ul>
						<li><a href="#">Business and Legal Translation</a></li>
						<li><a href="#">Technical Translation</a></li>
						<li><a href="#">Personal Documents</a></li>
						<li><a href="#">Apostille and Legalization</a></li>
						<li><a href="#">Hands-on Learning</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
					<h2>Customer Care</h2>
					<ul>
						<li><a href="contactusen.html">Contact Us</a></li>
						<li><a href="aboutusen.html">About Us</a></li>
						<li><a href="newsen.html">News & Articles</a></li>
						<li><a href="#">	Projects</a></li>
						<li><a href="#">Portfolio</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 paddingb-30">
					<h2>Call now for Services!
						<br>444-333-2211 </h2>
					<a href="mailto:support@themerex.net"><big><i class="fa fa-envelope"></i></big> email us</a>

					<h2>123, New Lenox
						<br>Chicago, IL, 60606
					</h2>
					<a href="#popup_with_map"><big><i class="fa fa-map-marker"></i></big> Get Direction</a>


				</div>
			</div>
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<div class="clear"></div>
			<div class="line"></div>
			<br>
			<p>copyright created by <a href="#" class="orange">emicads</a></p>


		</div>
	</div>
	<!--                end footer-section                            -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/pluginsen.js"></script>


</body>

</html>