<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="icon" href="">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/hover-min.css">
	<link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/buttons.css">
	<link rel="stylesheet" href="css/pignose.calendar.css">
	<link rel="stylesheet" href="css/styelen.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- for explorer-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- first moblie meta for resposive-->
	<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
            <![endif]-->
</head>

<body id="body">
	<!--                      Start top-section                      -->
	<div class="top-section">
		<div class="container-fluid">

			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs ">
				<div class="social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<a href="#"><i class="fa fa-pinterest"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-youtube-play"></i></a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs logo">
				<a href="indexen.html">
				<img src="css/pic/logo.png" alt="#" title="#" class="img-responsive">
			</a>
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs input-content">
				<a href="asktranslateen.html" class="button button--isi button--border-thick button--round-l button--size-s inline-block">	
					make order</a>
				<div class="contain-box inline-block">
					<div class="input-topsection left-border cloud inline-block">
						<i class="fa fa-cloud "></i>
						<ul class="weather-part ">
							<li><i class="fa fa-cloud"></i> 5°C </li>
							<li><i class="fa fa-cloud"></i> wed : 7°C </li>
							<li><i class="fa fa-cloud"></i> thur : 8°C </li>
							<li><i class="fa fa-cloud"></i> fri : 9°C </li>
						</ul>
					</div>
					<div class="input-topsection fasearch inline-block ">
						<i class="fa fa-search toggle-class"></i>
						<div class="search-box">
							<form>
								<input type="search" placeholder="searc about ?">
								<i class="fa fa-search abso"></i>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!--                      end top-section                     -->
	<!--                start menu                            -->
	<nav class="navbar navbar-default">
		<div class="container-fluid	">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<img src="css/pic/logo.png" alt="#" title="#" class="img-responsive hidden-lg hidden-md hidden-sm nav-logo ">

				<!--				<a class="navbar-brand" href="#">الماركه</a>-->
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav menu">
					<li><a href="indexen.html">home </a></li>
					<li><a href="aboutusen.html">about us <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="normalen.html">
								<li>vision</li>
							</a>
							<a href="normalen.html">
								<li>mission</li>
							</a>
							<a href="normalen.html">
								<li>Work Environment</li>
							</a>
							<a href="normalen.html">
								<li>Quality</li>
							</a>
							<a href="normalen.html">
								<li>Managing Director</li>
							</a>
						</ul>
					</li>
					<li><a href="normalen.html">Services <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="normalen.html">
								<li>Language <i class="fa fa-angle-right"></i>
									<ul class="sub-menu2">
										<a href="asktranslate.html">
											<li>English Translation</li>
										</a>
										<a href="normalen.html">
											<li>Major Languages <i class="fa fa-angle-right"></i>
												<ul class="sub-menu3">
													<a href="normalen.html">
														<li>Russian Translation</li>
													</a>
													<a href="normalen.html">
														<li>Turkish Translation</li>
													</a>
													<a href="normalen.html">
														<li>French Translation</li>
													</a>
													<a href="normalen.html">
														<li>German Translation</li>
													</a>

												</ul>
											</li>
										</a>
										<a href="normalen.html">
											<li>Other Languages <i class="fa fa-angle-right"></i>
												<ul class="sub-menu3">
													<a href="normalen.html">
														<li>Chinese Translation</li>
													</a>
													<a href="normalen.html">
														<li>Portuguese Translation</li>
													</a>
													<a href="normalen.html">
														<li>Spanish Translation</li>
													</a>
													<a href="normalen.html">
														<li>Swedish Translation</li>
													</a>
													<a href="normalen.html">
														<li>Ukrainian Translation</li>
													</a>
													<a href="normalen.html">
														<li>Bulgarian Translation</li>
													</a>
													<a href="normalen.html">
														<li>Hebrew Translation</li>
													</a>
													<a href="normalen.html">
														<li>Italian Translation</li>
													</a>
												</ul>

											</li>
										</a>
									</ul>
								</li>
							</a>
							<a href="asktranslateen.html">
								<li>Translation <i class="fa fa-angle-right"></i>
									<ul class="sub-menu2">
										<a href="normalen.html">
											<li>Legal</li>
										</a>
										<a href="normalen.html">
											<li>Medical</li>
										</a>
										<a href="normalen.html">
											<li>General</li>
										</a>
										<a href="normalen.html">
											<li>Tourism &amp; Hospitality</li>
										</a>
										<a href="normalen.html">
											<li>Economic and Financial Translation</li>
										</a>
										<a href="normalen.html">
											<li>Military</li>
										</a>
										<a href="normalen.html">
											<li>literary</li>
										</a>
										<a href="normalen.html">
											<li>Religious</li>
										</a>
									</ul>
								</li>
							</a>
							<a href="normalen.html">
								<li> Interpretation <i class="fa fa-angle-right"></i>
									<ul class="sub-menu2">
										<a href="normalen.html">
											<li>Simultaneous Interpretation</li>
										</a>
										<a href="normalen.html">
											<li>Consecutive Interpretation</li>
										</a>
										<a href="normalen.html">
											<li>Whispered Interpretation</li>
										</a>
										<a href="normalen.html">
											<li>Events and Conference Equipment Supply</li>
										</a>
										<a href="normalen.html">
											<li>Our Works</li>
										</a>
									</ul>
								</li>
							</a>

						</ul>
					</li>
					<li class="active"><a href="newsen.html">news</a></li>
					<li><a href="cven.html">cv</a></li>
					<li><a href="normalen.html">Sectors <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="normalen.html">
								<li>Desktop Publishing</li>
							</a>
							<a href="normalen.html">
								<li>Proofreading</li>
							</a>
							<a href="normalen.html">
								<li>Transcription</li>
							</a>
							<a href="normalen.html">
								<li>Localization</li>
							</a>
						</ul>
					</li>
					<li><a href="normalen.html">Linguists Outsourcing </a></li>
					<li><a href="traningen.html">Join Our Team <i class="fa fa-angle-down"></i></a>
						<ul class="sub-menu">
							<a href="traningen.html">
								<li>Interpreters</li>
							</a>
							<a href="nowtranslataionen.html">
								<li>Translators</li>
							</a>
							<a href="freelanceren.html">
								<li>Join Our Pool of Freelancers</li>
							</a>
						</ul>
					</li>
					<li><a href="traningen.html">Training</a>
						<ul class="sub-menu">
							<a href="translationworken.html">
								<li>Training</li>
							</a>
							<a href="nowtranslataionen.html">
								<li>Traajim</li>
							</a>
							<a href="nowtranslataionen.html">
								<li>Alumni</li>
							</a>
						</ul>
					</li>
					<li><a href="contactusen.html">Contact Us</a></li>
					<li><a href="index.html"><img src='css/pic/ar.png' alt="#" title="#"></a></li>
					<li><a href="indexen.html"><img src='css/pic/en.png' alt="#" title="#"></a></li>


				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!--                end menu                            -->
	<!--                start howitwork-section                            -->
	<div class="howitwork margin-0 text-center" id="howitwork">
		<div class="content-header">
			<h4 class="bold">all news</h4>
			<a href="">	home</a> /
			<a href="">	all news</a>
		</div>
	</div>
	<!--                end howitwork-section                            -->
	<!--                start blognew-section                            -->
	<div class="blognew blognewwhite" id="fromhere">
		<div class="container">
			<div class="blognew-content">
				<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>
					<div class="blog-big-box blog-styel-2">
						<div class="img-box">
							<p class="date-blogs">march 10,2017</p>
							<img src="css/pic/blog1.jpg" alt="#" class="responsive-img">
							<a href="shownewsen.html">
								<div class="overlay">
									<div class="dots">
										<p> ...</p>
									</div>
								</div>
							</a>
						</div>
						<div class=" blog-styel-content-2">
							<a href="shownewsen.html">
								<h4>5 Ways to Help English Language Learners</h4>
							</a>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non…</p>
							<div class="line margin-30-0"></div>
							<a href="shownewsen.html" class="red small"> books </a> ,
							<a href="shownewsen.html" class="red small"> storys </a>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-comment"></i> 1 comment</a>
							</div>
							<div class="margin-0-20 inline-block">
								<a href="shownewsen.html" class="red small"><i class="fa fa-heart"></i> 3 like</a>
							</div>

						</div>

					</div>


				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 static-section" id="staticsection">
					<div class="box-styel">
						<div class="head-box">
							<h5>الاقسام</h5>
						</div>
						<div class="content-box-cat">
							<ul>
								<li><a href="shownewsen.html">books</a></li>
								<li><a href="shownewsen.html">stores</a></li>
								<li><a href="shownewsen.html">doing</a></li>
								<li><a href="shownewsen.html">translate</a></li>
							</ul>

						</div>

					</div>
					<div class="box-styel">
						<div class="head-box">
							<h5>search</h5>
						</div>
						<div class="content-box-cat">
							<form class="inputs-box">
								<input type="search" placeholder="search about ?">
								<i class="fa fa-search"></i>
							</form>

						</div>

					</div>
					<div class="box-styel">
						<div class="head-box">
							<h5>last news</h5>
						</div>
						<div class="content-box-cat">
							<a href="shownewsen.html" class="small-blog-styel2">
								<div class="left img-box-s inline-block">
									<img src="css/pic/blog2.jpg" alt="#" class="img-responsive">
								</div>
								<div class="left inline-block det-block-small">
									<h4>5 ways to learn language</h4>
									<p class="small">March 10, 2017</p>
								</div>
							</a>
						</div>
						<div class="clear"></div>
						<div class="content-box-cat">
							<a href="shownewsen.html" class="small-blog-styel2">
								<div class="left img-box-s inline-block">
									<img src="css/pic/blog2.jpg" alt="#" class="img-responsive">
								</div>
								<div class="left inline-block det-block-small">
									<h4>5 ways to learn language</h4>
									<p class="small">March 10, 2017</p>
								</div>
							</a>
						</div>
						<div class="clear"></div>
						<div class="content-box-cat">
							<a href="shownewsen.html" class="small-blog-styel2">
								<div class="left img-box-s inline-block">
									<img src="css/pic/blog2.jpg" alt="#" class="img-responsive">
								</div>
								<div class="left inline-block det-block-small">
									<h4>5 ways to learn language</h4>
									<p class="small">March 10, 2017</p>
								</div>
							</a>
						</div>
						<div class="clear"></div>
						<div class="content-box-cat">
							<a href="shownewsen.html" class="small-blog-styel2">
								<div class="left img-box-s inline-block">
									<img src="css/pic/blog2.jpg" alt="#" class="img-responsive">
								</div>
								<div class="left inline-block det-block-small">
									<h4>5 ways to learn language</h4>
									<p class="small">March 10, 2017</p>
								</div>
							</a>
						</div>

					</div>
					<div class="box-styel">
						<div class="head-box">
							<h5>date</h5>
						</div>
						<div class="calendar"></div>
					</div>



				</div>
			</div>
		</div>
	</div>
	<!--                end blognew-section                            -->
	<!--                start subscribe-section                            -->
	<div class="subscribe-section">
		<div class="container-fluid">
			<div class="subscribe-content">
				<div class="col-lg-6 col-md-9 col-sm-12 col-xs-12 ">
					<form class="sub-form">
						<input type="email" placeholder="email">
						<button class="button button--isi button--border-thick button--round-l button--size-s inline-block">	registration</button>

					</form>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs ">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 social-sub ">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!--                end subscribe-section                            -->
	<!--                start footer-section                            -->
	<div class="footer" id="footer">
		<div class="container-fluid">
			<div class="footer-content">
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
					<a href="indexen.html">
						<img src="css/pic/logo.png" alt="#" class="img-responsive logo-footer">
					</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
					<img src="css/pic/bbb.png" alt="#" class="logos-comp">
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
					<h2>Services</h2>
					<ul>
						<li><a href="#">Business and Legal Translation</a></li>
						<li><a href="#">Technical Translation</a></li>
						<li><a href="#">Personal Documents</a></li>
						<li><a href="#">Apostille and Legalization</a></li>
						<li><a href="#">Hands-on Learning</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
					<h2>Customer Care</h2>
					<ul>
						<li><a href="contactusen.html">Contact Us</a></li>
						<li><a href="aboutusen.html">About Us</a></li>
						<li><a href="newsen.html">News & Articles</a></li>
						<li><a href="#">	Projects</a></li>
						<li><a href="#">Portfolio</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 paddingb-30">
					<h2>Call now for Services!
						<br>444-333-2211 </h2>
					<a href="mailto:support@themerex.net"><big><i class="fa fa-envelope"></i></big> email us</a>

					<h2>123, New Lenox
						<br>Chicago, IL, 60606
					</h2>
					<a href="#popup_with_map"><big><i class="fa fa-map-marker"></i></big> Get Direction</a>


				</div>
			</div>
		</div>
	</div>
	<!--                end footer-section                            -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/semantic.ui.min.js"></script>
	<script src="js/prism.min.js"></script>
	<script src="js/pignose.calendar.full.min.js"></script>
	<script src="js/pluginsen.js"></script>


</body>

</html>